<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="static/index.css">

  </head>
  <body>
    <div class="todo-container">
      <h2>To-Do List</h2>
      <ul id="item-list">
        <%todos.forEach(item => {%>
          <li class="<%= item.status === 'DONE' ? 'completed' : ''%>">
            <div class="item-detail">
              <span class="item-data-time"><%= item.expiredAt %></span>
              <%= item.name%>
              <span class="item-description"><%= item.shortDescription%></span>
            </div>
            <div class="actions">
              <% if(item.status !== "DONE"){ %>
                <button class="edit-btn" id="editBtn" onclick="handleEdit('<%= item.id %>','<%= item.name %>','<%= item.shortDescription %>','<%= item.expiredAt %>')">Edit</button>
                <%}%>
                <button class="delete-btn" id="deleteBtn" onclick="handleDelete('<%= item.id %>')">Delete</button>
              <% if(item.status !== "DONE"){ %>
                <button class="done-btn" id="doneBtn" onclick="handleDone('<%= item.id %>')">Done</button>
              <%}%>
              
            </div>
          </li>
          
        <%})%>
       
      </ul>
      
    </div>
    <button id="openModalBtn" class="add-item-btn add-item-btn-main">+</button>


    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <form id="todoForm" class="add-item-container">
          <input type="text" name="name" id="name" placeholder="Todo Name" required class="form-item">
          <textarea name="shortDescription" id="shortDescription" placeholder="Short Description" required class="form-item" rows="4"></textarea>
          <div class="form-item">
            <label for="dateTime">Expired At</label>
            <input type="datetime-local" id="expiredAt" name="expiredAt" required>
          </div>
          <button type="submit" class="add-item-btn form-item" id="todoItemBtn">Add</button>
      </form>
      </div>
    </div>
  
    <script src="/static/script.js"></script>
  </body>
</html>
